/*header*/
header {
    position: fixed;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #291C0E;
    transition: 0.6s;
    box-shadow: 0rem 0.5rem rgba(163, 136, 136, 0.1);
    z-index: 100000;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navbar img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin-right: 15px;
    margin-left: 80px;
  }

  .navbar p {
    font-size: 25px;
    color: rgb(238, 238, 238);
    font-weight: bold;
    margin: 0;
  }
/*end of header*/

body {
  margin: 0;
  padding: 0;
  background-color: #F7F2F2;
  height: 100vh;
  overflow: hidden;

}

/*sidebar*/
.container {
  display: flex;
  height: 100vh;
  padding-top: 10vh; /* space for fixed header */
  box-sizing: border-box;
  overflow: hidden;
}
.sidebar {
  width: 210px;
  background-color: #75483D;
  color: #f0e8d5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

}
  .sidebar ul {
    padding: 0;
    padding-top: 40px;
    list-style: none;
  }
  .sidebar li {
    margin: 20px 0;
  }

  .sidebar li a {
    display: block;
    align-items: center;
    width: 100%;   
    color: #e0d4c8;
    text-decoration: none;
    font-size: 21px;
    padding: 10px 15px;
    border-radius: 0 20px 20px 0;
    transition: all 0.3s ease;
    box-sizing: border-box;  
  }
  
  .sidebar li a i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .sidebar li a:hover,
  .sidebar li a.active {
    width: 250px;                 /* Extends the link width */
  margin-left: -20px;           /* Moves it slightly left to look centered */
  padding-left: 35px;           /* Indent text inward */
  background-color: #b99a84;
  color: #4e3b34;
  font-weight: bold;
  border-radius: 0 20px 20px 0;
  }
  
  .logout {
    margin-top: auto;
  align-self: flex-end;
  font-size: 18px;
  color: #f0e8d5;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 0 20px 20px 0;
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  }
  
  .logout i {
    margin-right: 8px;
  } 
  
  .logout:hover {
    color: #4e3b34;
    font-weight: bold;
    margin-left: -20px;
    padding-left: 35px;
    border-radius: 0 20px 20px 0;
  }
  


/*END OF SIDE BAR*/

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  background-color: #f0e8d5;
  padding: 10px 20px 20px 20px; /* top right bottom left */
  box-sizing: border-box;
  height: calc(100vh - 10vh); /* remaining height after fixed header */
  flex: 1;
  position: relative;
}
.about-why h1{
    font-size: 35px;
    margin-top: 60px;
}
.about-why p{
    font-size: 20px;
    margin-right: 550px;
}
.team h2{
    font-size: 35px;
    margin-top:50px;
}
.members{
    display: flex;
    gap: 15px; /* spacing between images */
    flex-wrap: wrap; /* allows wrapping on smaller screens */

}
.members img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}